* text=auto

*.cs text
*.shader text
*.asmdef text
*.asmref text
*.asset text
*.meta text
*.unity text
*.controller text
*.inputactions text
*.json text
*.txt text
*.wlt text

*.png binary
*.jpg binary
*.jpeg binary
*.anim binary
*.wav binary
*.mp3 binary

*.fbx filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
